/* Global Styles */
:root {
  --primary-color: #fff;
  --dark-color: #141414;
  --light-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #111;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 10%;
}

.showcase-top {
  background-color: #ed3c94;
  width: 80%;
  border-radius: 5px;
  max-width: 1200px;
  padding: 0.4rem;
  /* flex - align logo and butotn horizontally */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto; /* Centers the navbar horizontally */
  position: relative;
}

.showcase-top .src1 {
  /* Adjust size of the Mav3D logo */
  height: 30px;
  width: auto;
  /* max-height: 50px;  */
  /* min-height: 48px; */
}

.showcase-top .src2 {
  /* Adjust size of the cube logo */
  max-height: 20px;
  max-width: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.showcase-top .btn-rounded {
  padding: 0.5rem 1rem;
  /* color: #6a0dad; */
  border-radius: 20px;
  text-decoration: none;
}
/* .showcase-top img {
  max-height: 50px;
  width: 100px;
  position: absolute;
  left: 5%;
}

.showcase-top .btn-rounded {
  position: absolute;
  right: 5%;
  padding: 0.1rem 1rem;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
} */

.showcase-content {
  width: 90%;
  height: 100vh;
  /* position: absolute; */
  /* top: 10%; */
  margin-top: 2rem;
  z-index: 2;
  background: url("../img/main_background.jpg") no-repeat center center/cover;
}

.showcase-content h1 {
  text-align: center;
}
.showcase-content p {
  text-align: center;
  position: relative;
  bottom: 3%;
  text-transform: uppercase;
}
